{% extends "layout_func.html" %}

{% block main %}
    <a href="{{ redirect_url() }}" class="nav-link">
        << Back
    </a>
    
    <div class="section my-5">
        <h4>What's the point of this website?</h4>
        <hr>
        <p>This is website is created in order to complete a project in a <a class="text-info" href="https://docs.cs50.net/web/2018/x/projects/1/project1.html">web development course</a>.</p>
    </div>
    <div class="section my-5">
        <h4>What Can I do here?</h4>
        <hr>
        <p>Search from a database of 5000 books. Create an account to review them.</p>
    </div>
    <div class="section my-5">
        <h4>Here are some features: (directly copied from the assignment page)</h4>
        <ul class="text-left">
            <li class="list-group-item"><strong>Search:</strong> Once a user has logged in, they should be taken to a page where they can search for a book. Users should be able to type in the ISBN number of a book, the title of a book, or the author of a book. After performing the search, your website should display a list of possible matching results, or some sort of message if there were no matches. If the user typed in only part of a title, ISBN, or author name, your search page should find matches for those as well!</li>
            <li class="list-group-item"><strong>Book Page:</strong> When users click on a book from the results of the search page, they should be taken to a book page, with details about the book: its title, author, publication year, ISBN number, and any reviews that users have left for the book on your website.</li>
            <li class="list-group-item"><strong>Review Submission:</strong> On the book page, users should be able to submit a review: consisting of a rating on a scale of 1 to 5, as well as a text component to the review where the user can write their opinion about a book. Users should not be able to submit multiple reviews for the same book.</li>
            <li class="list-group-item"><strong>Goodreads Review Data:</strong> On your book page, you should also display (if available) the average rating and number of ratings the work has received from Goodreads.</li>
            <li class="list-group-item"><strong>Registration:</strong> Users should be able to register for your website, providing (at minimum) a username and password.</li>
            <li class="list-group-item"><strong>Login:</strong> Users, once registered, should be able to log in to your website with their username and password.</li>
            <li class="list-group-item"><strong>Logout:</strong> Logged in users should be able to log out of the site.</li>
            <li class="list-group-item"><strong>Import:</strong> Provided for you in this project is a file called books.csv, which is a spreadsheet in CSV format of 5000 different books. Each one has an ISBN number, a title, an author, and a publication year. In a Python file called import.py separate from your web application, write a program that will take the books and import them into your PostgreSQL database. You will first need to decide what table(s) to create, what columns those tables should have, and how they should relate to one another. Run this program by running python3 import.py to import the books into your database, and submit this program with the rest of your project code.</li>
            <li class="list-group-item"><strong>API Access:</strong> If users make a GET request to your website’s /api/<isbn> route, where <isbn> is an ISBN number, your website should return a JSON response containing the book’s title, author, publication date, ISBN number, review count, and average score. The resulting JSON should follow the format:</li>
        </ul>
    </div>
    


{% endblock %}
