<!-- Home Page -->
{% extends "base.html" %}

{% block base_title %}
    BAD Books
{% endblock %}

{% block header %}

<h1>Welcome</h1>

{% endblock %}

{% block body %}

<header>
    {% if get_flashed_messages() %}
    <header>
        <div class="alert text-center {% if err %} alert-danger {% else %} alert-primary {% endif %}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}
    <nav class="navbar justify-content-end navbar-light">
        <ul class="navbar-nav">
            {% if session.user_id %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    data-display="static" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('account')}}">Account Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('logout', next=request.full_path)}}">Log Out</a>
                </div>
            </li>
            {% else %}
            <a class="nav-link" href="{{url_for('login', next=request.full_path)}}">Log In</a>
            {% endif %}

        </ul>
    </nav>
</header>

<main class="container my-5 py-5">
    <div class="row">
        <div class="mx-auto my-3">
            <h1 class="logo">
                <span class="red">B</span><span class="yellow">A</span><span class="blue">D</span> <span
                    class="green">Books</span>
            </h1>
        </div>
    </div>
    <form action="{{url_for('search')}}" method="get">
        <div class="form-group my-3">
            <input type="search" class="form-control form-control-lg rounded-pill" name="q" id="query" placeholder="Search BAD Books"
                autofocus required>
        </div>
        <div class="mx-auto my-4">
            <button class="btn btn-outline-secondary w-25" type="submit">Book Search</button>
            <button class="btn btn-outline-secondary w-25" type="button">I'm Feeling BAD</button>
        </div>
    </form>


</main>
{% endblock %}