{% extends "base.html" %}

{% block base_title %}
BAD Books: {% block title %}{% endblock %}
{% endblock %}

{% block styles %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}


{% block body %}

<header>
  <nav class="navbar navbar-expand-md navbar-light border py-0">
    <a class="navbar-brand" href="/">
      <span class="red">B</span><span class="yellow">A</span><span class="blue">D</span>
      <span class="green">Books</span>
    </a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
      data-target="#navbar" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <!-- <ul class="navbar-nav mr-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="/quote">Quote</a></li>
        <li class="nav-item"><a class="nav-link" href="/buy">Buy</a></li>
        <li class="nav-item"><a class="nav-link" href="/sell">Sell</a></li>
        <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
      </ul> -->
      <form action="{{url_for('search')}}" method="get" class="form-inline my-2 my-lg-0 w-75">
        <input type="search" name="q" id="search_box" class="form-control mx-2 w-50" aria-label="Search"
          value="{{request.args.get('q') or ''}}" placeholder="Search BAD Books" required>

        <button title="Search By" class="btn btn-light rounded-circle" type="submit">
          <i class="material-icons">search</i>
        </button>
        <!-- <div class="dropdown mx-2">
          <button class="btn btn-light rounded-circle dropdown-toggle" type="button" id="option_toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">settings</i>
          </button>
          <div class="dropdown-menu mr-1" aria-labelledby="option_toggle">
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" name="check_title" id="check_title">
              <label class="custom-control-label" for="check_title">
                Title
              </label>
            </div>
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" name="check_author" id="check_author">
              <label class="custom-control-label" for="check_author">
                Author
              </label>
            </div>
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" name="check_isbn" id="check_isbn">
              <label class="custom-control-label" for="check_isbn">
                ISBN
              </label>
            </div>
          </div>
        </div> -->

        <!-- pop-up effect on click -->

        <!-- <button class="btn btn-light rounded-circle ml-2" type="button" id="option_toggle" data-toggle="modal"
          data-target="#search_modal">
          <i class="material-icons">settings</i>
        </button>
        <div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-describedby="search_modal_label"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="search_modal_label">Search By</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="custom-control custom-switch">
                  <input class="custom-control-input" type="checkbox" name="search_by_title" id="check_title">
                  <label class="custom-control-label" for="check_title">
                    Title
                  </label>
                </div>
                <div class="custom-control custom-switch">
                  <input class="custom-control-input" type="checkbox" name="search_by_author" id="check_author">
                  <label class="custom-control-label" for="check_author">
                    Author
                  </label>
                </div>
                <div class="custom-control custom-switch">
                  <input class="custom-control-input" type="checkbox" name="search_by_isbn" id="check_isbn">
                  <label class="custom-control-label" for="check_isbn">
                    ISBN
                  </label>
                </div>
              </div>
               <div class="modal-footer">
              </div> 
            </div>
          </div>
        </div> -->


        <!-- collapse effect for select -->
        <button class="btn btn-light rounded-circle ml-2" type="button" id="option_toggle" data-toggle="collapse"
          role="button" aria-expanded="false" aria-controls="search_collapse" data-target="#search_collapse">
          <i class="material-icons">settings</i>
        </button>
        <div class="collapse mx-auto" id="search_collapse">
          <!-- <div class="card card-body"> -->
          <div class="custom-control custom-switch custom-control-inline">
            <input class="custom-control-input" type="checkbox" name="search_by_title" id="check_title"
              {% if methods and 'title' in methods %} checked {% endif %}>
            <label class="custom-control-label" for="check_title">
              Title
            </label>
          </div>
          <div class="custom-control custom-switch custom-control-inline">
            <input class="custom-control-input" type="checkbox" name="search_by_author" id="check_author"
              {% if methods and 'author' in methods %} checked {% endif %}>
            <label class="custom-control-label" for="check_author">
              Author
            </label>
          </div>
          <div class="custom-control custom-switch custom-control-inline">


            <input class="custom-control-input" type="checkbox" name="search_by_isbn" id="check_isbn"
              {% if 'isbn' in methods %} checked {% endif %}>

            <label class="custom-control-label" for="check_isbn">
              ISBN
            </label>
          </div>
          <!-- </div> -->
        </div>

      </form>
      {% if session.user_id %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('account')}}">Account Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('logout', next=request.full_path)}}">Log Out</a>
          </div>
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{url_for('login', next=request.full_path)}}">Log In</a></li>
      </ul>
      {% endif %}
    </div>
  </nav>

  {% if get_flashed_messages() %}
  <header>
    <div class="alert text-center {% if err %} alert-danger {% else %} alert-primary {% endif %}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> {{ get_flashed_messages() | join(" ") }}
    </div>
  </header>
  {% endif %}

</header>
<main class="container p-5">
  {% block main %} {% endblock %}
</main>

{% endblock %}