// html {
//     // font-size: 1.5vw;
// }

$GOLDEN: 61.803398875%;

%rounded-corner {
    border-radius: 50px;
}

nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
}

.dropdown-menu.show {
    position: absolute;
}

// Does not work. Don't know why
// a.nav_link:hover {
//     text-decoration: underline;
// }

/* colors for brand */
/* nav .navbar-brand  */

.blue {
    color: #537fbe;
}

/* nav .navbar-brand  */
.red {
    color: #ea433b;
}

/* nav .navbar-brand  */
.yellow {
    color: #f5b82e;
}

/* nav .navbar-brand  */
.green {
    color: #2e944b;
}

main .form-control {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

.logo {
    font-size: 5rem;
}

header h1 {
    /* center header */
    text-align: center;
}

main {
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    img {
        /* constrain images on small screens */
        max-width: 100%;
    }
}

form {

    #query,
    input[type=search] {
        @extend %rounded-corner;
        width: $GOLDEN;
    }

    button {
        @extend %rounded-corner;
    }
}

.search {
    text-align: left;
}


// Attempts to put search icon inside bar; doesn't work
// https://stackoverflow.com/a/11589805
// header input[type=search]::after {
//     content: url("../img/search.svg");
// }