html {
    // font-size: 1.5vw;
}

$GOLDEN: 61.803398875%;

%rounded-corner {
    border-radius: 50px;
}

nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
}

// Menu used to be out of view. This fixes the issue with right alignemnt
// https://stackoverflow.com/a/49383596
.navbar .dropdown-menu-right { 
    right: 0; 
    left: auto; 
}

.dropdown-menu.show {
    position: absolute;
}

a.nav_link:hover {
    text-decoration: underline;
}

/* colors for brand */
/* nav .navbar-brand  */

.blue {
    color: #537fbe;
}

/* nav .navbar-brand  */
.red {
    color: #ea433b;
}

/* nav .navbar-brand  */
.yellow {
    color: #f5b82e;
}

/* nav .navbar-brand  */
.green {
    color: #2e944b;
}

main .form-control {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

.logo {
    font-size: 5rem;
}

header h1 {
    /* center header */
    text-align: center;
}

main {
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    img {
        /* constrain images on small screens */
        max-width: 100%;
    }
}

form {

    #query {
        @extend %rounded-corner;
        width: $GOLDEN;
    }

    button {
        @extend %rounded-corner;
    }
}
